<div th:fragment="footer">
	<div class="position-fixed bottom-0 right-0 p-3" style="z-index: 5; right: 0; bottom: 0;">
		<div id="liveToast" class="toast hide" role="alert" aria-live="assertive" aria-atomic="true" data-delay="2000">
			<div class="toast-header bg-success">

				<strong class="mr-auto text-light">Thông báo</strong>
				<small class="text-light">11 mins ago</small>
				<button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="toast-body">
				Xóa thành công
			</div>
		</div>
	</div>
	<footer>
		<!-- footer-top-start -->
		<div class="footer-top">
			<div class="container">
				<div class="row">
					<div class="col-lg-12">
						<div class="footer-top-menu bb-2">
							<nav>
								<ul>
									<li><a href="#">Trang Chủ</a></li>
									<li><a href="#">Bật Cookie</a></li>
									<li><a href="#">Chính Sách Quyền Riêng Tư Và Cookie</a></li>
									<li><a href="#">Liên Hệ Chúng Tôi</a></li>
									<li><a href="#">Bài viết</a></li>
								</ul>
							</nav>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- footer-top-start -->
		<!-- footer-mid-start -->
		<div class="footer-mid ptb-50">
			<div class="container">
				<div class="row">
					<div class="col-lg-8 col-12">
						<div class="row">
							<div class="col-lg-4 col-md-4 col-12">
								<div class="single-footer br-2 xs-mb">
									<div class="footer-title mb-20">
										<h3>CÁC SẢN PHẨM</h3>
									</div>
									<div class="footer-mid-menu">
										<ul>
											<li><a href="about.html">Về chúng tôi</a></li>
											<li><a href="#">Giá giảm</a></li>
											<li><a href="#">Sản phẩm mới</a></li>
											<li><a href="#">Sản phẩm tốt nhất</a></li>
										</ul>
									</div>
								</div>
							</div>
							<div class="col-lg-4 col-md-4 col-12">
								<div class="single-footer br-2 xs-mb">
									<div class="footer-title mb-20">
										<h3>CÔNG TY CHÚNG TÔI</h3>
									</div>
									<div class="footer-mid-menu">
										<ul>
											<li><a href="contact.html">Liên hệ chúng tôi</a></li>
											<li><a href="#">Sơ đồ trang web</a></li>
											<li><a href="#">Cửa hàng</a></li>
											<li><a href="register.html">Tài khoản của tôi</a></li>
										</ul>
									</div>
								</div>
							</div>
							<div class="col-lg-4 col-md-4 col-12">
								<div class="single-footer br-2 xs-mb">
									<div class="footer-title mb-20">
										<h3>TÀI KHOẢN CỦA BẠN</h3>
									</div>
									<div class="footer-mid-menu">
										<ul>
											<li><a href="contact.html">Địa chỉ</a></li>
											<li><a href="#">Phiếu tín dụng</a></li>
											<li><a href="#">Đơn đặt hàng</a></li>
											<li><a href="#">Thông tin cá nhân</a></li>
										</ul>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="col-lg-4 col-12">
						<div class="single-footer mrg-sm">
							<div class="footer-title mb-20">
								<h3>LƯU TRỮ THÔNG TIN</h3>
							</div>
							<div class="footer-contact">
								<p class="adress">
									<span>Công ty của tôi</span>
									Địa chỉ của bạn ở đây.
								</p>
								<p><span>Hãy gọi ngay cho chúng tôi:</span> 0947669387</p>
								<p><span>Email:</span> duy2172003@gmail.com</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- footer-mid-end -->
		<!-- footer-bottom-start -->
		<div class="footer-bottom">
			<div class="container">
				<div class="row bt-2">
					<div class="col-lg-6 col-md-6 col-12">
						<div class="copy-right-area">
							<p>&copy; 2022 <strong> Koparion </strong> Mede with ❤️ by <a href="https://hasthemes.com/"
									target="_blank"><strong>HasThemes</strong></a></p>
						</div>
					</div>
					<div class="col-lg-6 col-md-6 col-12">
						<div class="payment-img text-end">
							<a href="#"><img th:src="@{fe/img/1.png}" alt="payment" /></a>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- footer-bottom-end -->
	</footer>

	<div class="modal fade" id="productModal" tabindex="-1" role="dialog">
		<div class="modal-dialog" role="document">
	<div class="modal-content">
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
					aria-hidden="true">x</span></button>
		</div>
		<div class="modal-body">
			<div class="row">
				<div class="col-md-5 col-sm-5 col-xs-12">
					<div class="modal-tab">
						<div class="product-details-large tab-content">
							<div class="tab-pane active" id="image-1">
								<!--<img th:src="@{'/uploads/' + ${book.img}" alt="" />-->
							</div>
							<div class="tab-pane" id="image-2">
								<img src="img/product/quickview-l2.jpg" alt="" />
							</div>
							<div class="tab-pane" id="image-3">
								<img src="img/product/quickview-l3.jpg" alt="" />
							</div>
							<div class="tab-pane" id="image-4">
								<img src="img/product/quickview-l5.jpg" alt="" />
							</div>
						</div>
						<div class="product-details-small quickview-active owl-carousel">
							<a class="active" href="#image-1"><img src="img/product/quickview-s4.jpg" alt="" /></a>
							<a href="#image-2"><img src="img/product/quickview-s2.jpg" alt="" /></a>
							<a href="#image-3"><img src="img/product/quickview-s3.jpg" alt="" /></a>
							<a href="#image-4"><img src="img/product/quickview-s5.jpg" alt="" /></a>
						</div>
					</div>
				</div>
				<div class="col-md-7 col-sm-7 col-xs-12">
					<div class="modal-pro-content">
						<!--<h3 th:text="${book.bookName}"></h3>-->
						<div class="price">
							<!--<span th:text="${book.priceSale}"></span>-->
						</div>
						<p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis
							egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet.</p>
						<div class="quick-view-select">
							<div class="select-option-part">
								<label>Size*</label>
								<select class="select">
									<option value="">S</option>
									<option value="">M</option>
									<option value="">L</option>
								</select>
							</div>
							<div class="quickview-color-wrap">
								<label>Color*</label>
								<div class="quickview-color">
									<ul>
										<li class="blue">b</li>
										<li class="red">r</li>
										<li class="pink">p</li>
									</ul>
								</div>
							</div>
						</div>
						<form action="#">
							<input type="number" value="1" />
							<button>Add to cart</button>
						</form>
						<span><i class="fa fa-check"></i> In stock</span>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
	</div>
</div>