<div class="product-area" th:fragment="productare">
	<div class="row">
		<div class="col-lg-4 col-md-12">
			<div class="section-title-2 mb-30">
				<h3>Sách</h3>
			</div>
			<div class="product-active-3 owl-carousel">
				<div class="product-total-2">
					<div class="single-most-product bd mb-18">
						<div class="most-product-img">
							<a href="#"><img th:src="@{fe/img/product/20.jpg}" alt="book" /></a>
						</div>
						<div class="most-product-content">
							<div class="product-rating">
								<ul>
									<li><a href="#"><i class="fa fa-star"></i></a></li>
									<li><a href="#"><i class="fa fa-star"></i></a></li>
									<li><a href="#"><i class="fa fa-star"></i></a></li>
									<li><a href="#"><i class="fa fa-star"></i></a></li>
									<li><a href="#"><i class="fa fa-star"></i></a></li>
								</ul>
							</div>
							<h4><a href="#">Endeavor Daytrip</a></h4>
							<div class="product-price">
								<ul>
									<li>$30.00</li>
									<li class="old-price">$33.00</li>
								</ul>
							</div>
						</div>
					</div>
					<div class="single-most-product bd mb-18">
						<div class="most-product-img">
							<a href="#"><img th:src="@{fe/img/product/21.jpg}" alt="book" /></a>
						</div>
						<div class="most-product-content">
							<div class="product-rating">
								<ul>
									<li><a href="#"><i class="fa fa-star"></i></a></li>
									<li><a href="#"><i class="fa fa-star"></i></a></li>
									<li><a href="#"><i class="fa fa-star"></i></a></li>
									<li><a href="#"><i class="fa fa-star"></i></a></li>
									<li><a href="#"><i class="fa fa-star"></i></a></li>
								</ul>
							</div>
							<h4><a href="#">Savvy Shoulder Tote</a></h4>
							<div class="product-price">
								<ul>
									<li>$30.00</li>
									<li class="old-price">$35.00</li>
								</ul>
							</div>
						</div>
					</div>
					<div class="single-most-product">
						<div class="most-product-img">
							<a href="#"><img th:src="@{fe/img/product/22.jpg}" alt="book" /></a>
						</div>
						<div class="most-product-content">
							<div class="product-rating">
								<ul>
									<li><a href="#"><i class="fa fa-star"></i></a></li>
									<li><a href="#"><i class="fa fa-star"></i></a></li>
									<li><a href="#"><i class="fa fa-star"></i></a></li>
									<li><a href="#"><i class="fa fa-star"></i></a></li>
									<li><a href="#"><i class="fa fa-star"></i></a></li>
								</ul>
							</div>
							<h4><a href="#">Compete Track Tote</a></h4>
							<div class="product-price">
								<ul>
									<li>$35.00</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
				<div class="product-total-2">
					<div class="single-most-product bd mb-18">
						<div class="most-product-img">
							<a href="#"><img th:src="@{fe/img/product/23.jpg}" alt="book" /></a>
						</div>
						<div class="most-product-content">
							<div class="product-rating">
								<ul>
									<li><a href="#"><i class="fa fa-star"></i></a></li>
									<li><a href="#"><i class="fa fa-star"></i></a></li>
									<li><a href="#"><i class="fa fa-star"></i></a></li>
									<li><a href="#"><i class="fa fa-star"></i></a></li>
									<li><a href="#"><i class="fa fa-star"></i></a></li>
								</ul>
							</div>
							<h4><a href="#">Voyage Yoga Bag</a></h4>
							<div class="product-price">
								<ul>
									<li>$30.00</li>
									<li class="old-price">$33.00</li>
								</ul>
							</div>
						</div>
					</div>
					<div class="single-most-product bd mb-18">
						<div class="most-product-img">
							<a href="#"><img th:src="@{fe/img/product/24.jpg}" alt="book" /></a>
						</div>
						<div class="most-product-content">
							<div class="product-rating">
								<ul>
									<li><a href="#"><i class="fa fa-star"></i></a></li>
									<li><a href="#"><i class="fa fa-star"></i></a></li>
									<li><a href="#"><i class="fa fa-star"></i></a></li>
									<li><a href="#"><i class="fa fa-star"></i></a></li>
									<li><a href="#"><i class="fa fa-star"></i></a></li>
								</ul>
							</div>
							<h4><a href="#">Impulse Duffle</a></h4>
							<div class="product-price">
								<ul>
									<li>$70.00</li>
									<li class="old-price">$74.00</li>
								</ul>
							</div>
						</div>
					</div>
					<div class="single-most-product">
						<div class="most-product-img">
							<a href="#"><img th:src="@{fe/img/product/22.jpg}" alt="book" /></a>
						</div>
						<div class="most-product-content">
							<div class="product-rating">
								<ul>
									<li><a href="#"><i class="fa fa-star"></i></a></li>
									<li><a href="#"><i class="fa fa-star"></i></a></li>
									<li><a href="#"><i class="fa fa-star"></i></a></li>
									<li><a href="#"><i class="fa fa-star"></i></a></li>
									<li><a href="#"><i class="fa fa-star"></i></a></li>
								</ul>
							</div>
							<h4><a href="#">Fusion Backpack</a></h4>
							<div class="product-price">
								<ul>
									<li>$59.00</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
				<div class="product-total-2">
					<div class="single-most-product bd mb-18">
						<div class="most-product-img">
							<a href="#"><img th:src="@{fe/img/product/23.jpg}" alt="book" /></a>
						</div>
						<div class="most-product-content">
							<div class="product-rating">
								<ul>
									<li><a href="#"><i class="fa fa-star"></i></a></li>
									<li><a href="#"><i class="fa fa-star"></i></a></li>
									<li><a href="#"><i class="fa fa-star"></i></a></li>
									<li><a href="#"><i class="fa fa-star"></i></a></li>
									<li><a href="#"><i class="fa fa-star"></i></a></li>
								</ul>
							</div>
							<h4><a href="#">Voyage Yoga Bag</a></h4>
							<div class="product-price">
								<ul>
									<li>$30.00</li>
									<li class="old-price">$33.00</li>
								</ul>
							</div>
						</div>
					</div>
					<div class="single-most-product bd mb-18">
						<div class="most-product-img">
							<a href="#"><img th:src="@{fe/img/product/24.jpg}" alt="book" /></a>
						</div>
						<div class="most-product-content">
							<div class="product-rating">
								<ul>
									<li><a href="#"><i class="fa fa-star"></i></a></li>
									<li><a href="#"><i class="fa fa-star"></i></a></li>
									<li><a href="#"><i class="fa fa-star"></i></a></li>
									<li><a href="#"><i class="fa fa-star"></i></a></li>
									<li><a href="#"><i class="fa fa-star"></i></a></li>
								</ul>
							</div>
							<h4><a href="#">Impulse Duffle</a></h4>
							<div class="product-price">
								<ul>
									<li>$70.00</li>
									<li class="old-price">$74.00</li>
								</ul>
							</div>
						</div>
					</div>
					<div class="single-most-product">
						<div class="most-product-img">
							<a href="#"><img th:src="@{fe/img/product/22.jpg}" alt="book" /></a>
						</div>
						<div class="most-product-content">
							<div class="product-rating">
								<ul>
									<li><a href="#"><i class="fa fa-star"></i></a></li>
									<li><a href="#"><i class="fa fa-star"></i></a></li>
									<li><a href="#"><i class="fa fa-star"></i></a></li>
									<li><a href="#"><i class="fa fa-star"></i></a></li>
									<li><a href="#"><i class="fa fa-star"></i></a></li>
								</ul>
							</div>
							<h4><a href="#">Fusion Backpack</a></h4>
							<div class="product-price">
								<ul>
									<li>$59.00</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-lg-4 col-md-12">
			<div class="section-title-2 mb-30 mrg-sm">
				<h3>Sách nói </h3>
			</div>
			<div class="product-active-3 owl-carousel">
				<div class="product-total-2">
					<div class="single-most-product bd mb-18">
						<div class="most-product-img">
							<a href="#"><img th:src="@{fe/img/product/23.jpg}" alt="book" /></a>
						</div>
						<div class="most-product-content">
							<div class="product-rating">
								<ul>
									<li><a href="#"><i class="fa fa-star"></i></a></li>
									<li><a href="#"><i class="fa fa-star"></i></a></li>
									<li><a href="#"><i class="fa fa-star"></i></a></li>
									<li><a href="#"><i class="fa fa-star"></i></a></li>
									<li><a href="#"><i class="fa fa-star"></i></a></li>
								</ul>
							</div>
							<h4><a href="#">Voyage Yoga Bag</a></h4>
							<div class="product-price">
								<ul>
									<li>$30.00</li>
									<li class="old-price">$33.00</li>
								</ul>
							</div>
						</div>
					</div>
					<div class="single-most-product bd mb-18">
						<div class="most-product-img">
							<a href="#"><img th:src="@{fe/img/product/24.jpg}" alt="book" /></a>
						</div>
						<div class="most-product-content">
							<div class="product-rating">
								<ul>
									<li><a href="#"><i class="fa fa-star"></i></a></li>
									<li><a href="#"><i class="fa fa-star"></i></a></li>
									<li><a href="#"><i class="fa fa-star"></i></a></li>
									<li><a href="#"><i class="fa fa-star"></i></a></li>
									<li><a href="#"><i class="fa fa-star"></i></a></li>
								</ul>
							</div>
							<h4><a href="#">Impulse Duffle</a></h4>
							<div class="product-price">
								<ul>
									<li>$70.00</li>
									<li class="old-price">$74.00</li>
								</ul>
							</div>
						</div>
					</div>
					<div class="single-most-product">
						<div class="most-product-img">
							<a href="#"><img th:src="@{fe/img/product/26.jpg}" alt="book" /></a>
						</div>
						<div class="most-product-content">
							<div class="product-rating">
								<ul>
									<li><a href="#"><i class="fa fa-star"></i></a></li>
									<li><a href="#"><i class="fa fa-star"></i></a></li>
									<li><a href="#"><i class="fa fa-star"></i></a></li>
									<li><a href="#"><i class="fa fa-star"></i></a></li>
									<li><a href="#"><i class="fa fa-star"></i></a></li>
								</ul>
							</div>
							<h4><a href="#">Driven Backpack1</a></h4>
							<div class="product-price">
								<ul>
									<li>$40.00</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
				<div class="product-total-2">
					<div class="single-most-product bd mb-18">
						<div class="most-product-img">
							<a href="#"><img th:src="@{fe/img/product/20.jpg}" alt="book" /></a>
						</div>
						<div class="most-product-content">
							<div class="product-rating">
								<ul>
									<li><a href="#"><i class="fa fa-star"></i></a></li>
									<li><a href="#"><i class="fa fa-star"></i></a></li>
									<li><a href="#"><i class="fa fa-star"></i></a></li>
									<li><a href="#"><i class="fa fa-star"></i></a></li>
									<li><a href="#"><i class="fa fa-star"></i></a></li>
								</ul>
							</div>
							<h4><a href="#">Endeavor Daytrip</a></h4>
							<div class="product-price">
								<ul>
									<li>$30.00</li>
									<li class="old-price">$33.00</li>
								</ul>
							</div>
						</div>
					</div>
					<div class="single-most-product bd mb-18">
						<div class="most-product-img">
							<a href="#"><img th:src="@{fe/img/product/21.jpg}" alt="book" /></a>
						</div>
						<div class="most-product-content">
							<div class="product-rating">
								<ul>
									<li><a href="#"><i class="fa fa-star"></i></a></li>
									<li><a href="#"><i class="fa fa-star"></i></a></li>
									<li><a href="#"><i class="fa fa-star"></i></a></li>
									<li><a href="#"><i class="fa fa-star"></i></a></li>
									<li><a href="#"><i class="fa fa-star"></i></a></li>
								</ul>
							</div>
							<h4><a href="#">Savvy Shoulder Tote</a></h4>
							<div class="product-price">
								<ul>
									<li>$30.00</li>
									<li class="old-price">$35.00</li>
								</ul>
							</div>
						</div>
					</div>
					<div class="single-most-product">
						<div class="most-product-img">
							<a href="#"><img th:src="@{fe/img/product/22.jpg}" alt="book" /></a>
						</div>
						<div class="most-product-content">
							<div class="product-rating">
								<ul>
									<li><a href="#"><i class="fa fa-star"></i></a></li>
									<li><a href="#"><i class="fa fa-star"></i></a></li>
									<li><a href="#"><i class="fa fa-star"></i></a></li>
									<li><a href="#"><i class="fa fa-star"></i></a></li>
									<li><a href="#"><i class="fa fa-star"></i></a></li>
								</ul>
							</div>
							<h4><a href="#">Compete Track Tote</a></h4>
							<div class="product-price">
								<ul>
									<li>$35.00</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
				<div class="product-total-2">
					<div class="single-most-product bd mb-18">
						<div class="most-product-img">
							<a href="#"><img th:src="@{fe/img/product/20.jpg}" alt="book" /></a>
						</div>
						<div class="most-product-content">
							<div class="product-rating">
								<ul>
									<li><a href="#"><i class="fa fa-star"></i></a></li>
									<li><a href="#"><i class="fa fa-star"></i></a></li>
									<li><a href="#"><i class="fa fa-star"></i></a></li>
									<li><a href="#"><i class="fa fa-star"></i></a></li>
									<li><a href="#"><i class="fa fa-star"></i></a></li>
								</ul>
							</div>
							<h4><a href="#">Endeavor Daytrip</a></h4>
							<div class="product-price">
								<ul>
									<li>$30.00</li>
									<li class="old-price">$33.00</li>
								</ul>
							</div>
						</div>
					</div>
					<div class="single-most-product bd mb-18">
						<div class="most-product-img">
							<a href="#"><img th:src="@{fe/img/product/21.jpg}" alt="book" /></a>
						</div>
						<div class="most-product-content">
							<div class="product-rating">
								<ul>
									<li><a href="#"><i class="fa fa-star"></i></a></li>
									<li><a href="#"><i class="fa fa-star"></i></a></li>
									<li><a href="#"><i class="fa fa-star"></i></a></li>
									<li><a href="#"><i class="fa fa-star"></i></a></li>
									<li><a href="#"><i class="fa fa-star"></i></a></li>
								</ul>
							</div>
							<h4><a href="#">Savvy Shoulder Tote</a></h4>
							<div class="product-price">
								<ul>
									<li>$30.00</li>
									<li class="old-price">$35.00</li>
								</ul>
							</div>
						</div>
					</div>
					<div class="single-most-product">
						<div class="most-product-img">
							<a href="#"><img th:src="@{fe/img/product/22.jpg}" alt="book" /></a>
						</div>
						<div class="most-product-content">
							<div class="product-rating">
								<ul>
									<li><a href="#"><i class="fa fa-star"></i></a></li>
									<li><a href="#"><i class="fa fa-star"></i></a></li>
									<li><a href="#"><i class="fa fa-star"></i></a></li>
									<li><a href="#"><i class="fa fa-star"></i></a></li>
									<li><a href="#"><i class="fa fa-star"></i></a></li>
								</ul>
							</div>
							<h4><a href="#">Compete Track Tote</a></h4>
							<div class="product-price">
								<ul>
									<li>$35.00</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-lg-4 col-md-12">
			<div class="section-title-2 mb-30 mrg-sm">
				<h3>sách cho thiếu nhi</h3>
			</div>
			<div class="product-active-3 owl-carousel">
				<div class="product-total-2">
					<div class="single-most-product bd mb-18">
						<div class="most-product-img">
							<a href="#"><img th:src="@{fe/img/product/27.jpg}" alt="book" /></a>
						</div>
						<div class="most-product-content">
							<div class="product-rating">
								<ul>
									<li><a href="#"><i class="fa fa-star"></i></a></li>
									<li><a href="#"><i class="fa fa-star"></i></a></li>
									<li><a href="#"><i class="fa fa-star"></i></a></li>
									<li><a href="#"><i class="fa fa-star"></i></a></li>
									<li><a href="#"><i class="fa fa-star"></i></a></li>
								</ul>
							</div>
							<h4><a href="#">Crown Summit</a></h4>
							<div class="product-price">
								<ul>
									<li>$36.00</li>
									<li class="old-price">$38.00</li>
								</ul>
							</div>
						</div>
					</div>
					<div class="single-most-product bd mb-18">
						<div class="most-product-img">
							<a href="#"><img th:src="@{fe/img/product/28.jpg}" alt="book" /></a>
						</div>
						<div class="most-product-content">
							<div class="product-rating">
								<ul>
									<li><a href="#"><i class="fa fa-star"></i></a></li>
									<li><a href="#"><i class="fa fa-star"></i></a></li>
									<li><a href="#"><i class="fa fa-star"></i></a></li>
									<li><a href="#"><i class="fa fa-star"></i></a></li>
									<li><a href="#"><i class="fa fa-star"></i></a></li>
								</ul>
							</div>
							<h4><a href="#">Driven Backpack</a></h4>
							<div class="product-price">
								<ul>
									<li>$34.00</li>
									<li class="old-price">$36.00</li>
								</ul>
							</div>
						</div>
					</div>
					<div class="single-most-product">
						<div class="most-product-img">
							<a href="#"><img th:src="@{fe/img/product/29.jpg}" alt="book" /></a>
						</div>
						<div class="most-product-content">
							<div class="product-rating">
								<ul>
									<li><a href="#"><i class="fa fa-star"></i></a></li>
									<li><a href="#"><i class="fa fa-star"></i></a></li>
									<li><a href="#"><i class="fa fa-star"></i></a></li>
									<li><a href="#"><i class="fa fa-star"></i></a></li>
									<li><a href="#"><i class="fa fa-star"></i></a></li>
								</ul>
							</div>
							<h4><a href="#">Endeavor Daytrip</a></h4>
							<div class="product-price">
								<ul>
									<li>$30.00</li>
									<li class="old-price">$33.00</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
				<div class="product-total-2">
					<div class="single-most-product bd mb-18">
						<div class="most-product-img">
							<a href="#"><img th:src="@{fe/img/product/23.jpg}" alt="book" /></a>
						</div>
						<div class="most-product-content">
							<div class="product-rating">
								<ul>
									<li><a href="#"><i class="fa fa-star"></i></a></li>
									<li><a href="#"><i class="fa fa-star"></i></a></li>
									<li><a href="#"><i class="fa fa-star"></i></a></li>
									<li><a href="#"><i class="fa fa-star"></i></a></li>
									<li><a href="#"><i class="fa fa-star"></i></a></li>
								</ul>
							</div>
							<h4><a href="#">Voyage Yoga Bag</a></h4>
							<div class="product-price">
								<ul>
									<li>$30.00</li>
									<li class="old-price">$33.00</li>
								</ul>
							</div>
						</div>
					</div>
					<div class="single-most-product bd mb-18">
						<div class="most-product-img">
							<a href="#"><img th:src="@{fe/img/product/24.jpg}" alt="book" /></a>
						</div>
						<div class="most-product-content">
							<div class="product-rating">
								<ul>
									<li><a href="#"><i class="fa fa-star"></i></a></li>
									<li><a href="#"><i class="fa fa-star"></i></a></li>
									<li><a href="#"><i class="fa fa-star"></i></a></li>
									<li><a href="#"><i class="fa fa-star"></i></a></li>
									<li><a href="#"><i class="fa fa-star"></i></a></li>
								</ul>
							</div>
							<h4><a href="#">Impulse Duffle</a></h4>
							<div class="product-price">
								<ul>
									<li>$70.00</li>
									<li class="old-price">$74.00</li>
								</ul>
							</div>
						</div>
					</div>
					<div class="single-most-product">
						<div class="most-product-img">
							<a href="#"><img th:src="@{fe/img/product/22.jpg}" alt="book" /></a>
						</div>
						<div class="most-product-content">
							<div class="product-rating">
								<ul>
									<li><a href="#"><i class="fa fa-star"></i></a></li>
									<li><a href="#"><i class="fa fa-star"></i></a></li>
									<li><a href="#"><i class="fa fa-star"></i></a></li>
									<li><a href="#"><i class="fa fa-star"></i></a></li>
									<li><a href="#"><i class="fa fa-star"></i></a></li>
								</ul>
							</div>
							<h4><a href="#">Fusion Backpack</a></h4>
							<div class="product-price">
								<ul>
									<li>$59.00</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
				<div class="product-total-2">
					<div class="single-most-product bd mb-18">
						<div class="most-product-img">
							<a href="#"><img th:src="@{fe/img/product/23.jpg}" alt="book" /></a>
						</div>
						<div class="most-product-content">
							<div class="product-rating">
								<ul>
									<li><a href="#"><i class="fa fa-star"></i></a></li>
									<li><a href="#"><i class="fa fa-star"></i></a></li>
									<li><a href="#"><i class="fa fa-star"></i></a></li>
									<li><a href="#"><i class="fa fa-star"></i></a></li>
									<li><a href="#"><i class="fa fa-star"></i></a></li>
								</ul>
							</div>
							<h4><a href="#">Voyage Yoga Bag</a></h4>
							<div class="product-price">
								<ul>
									<li>$30.00</li>
									<li class="old-price">$33.00</li>
								</ul>
							</div>
						</div>
					</div>
					<div class="single-most-product bd mb-18">
						<div class="most-product-img">
							<a href="#"><img th:src="@{fe/img/product/24.jpg}" alt="book" /></a>
						</div>
						<div class="most-product-content">
							<div class="product-rating">
								<ul>
									<li><a href="#"><i class="fa fa-star"></i></a></li>
									<li><a href="#"><i class="fa fa-star"></i></a></li>
									<li><a href="#"><i class="fa fa-star"></i></a></li>
									<li><a href="#"><i class="fa fa-star"></i></a></li>
									<li><a href="#"><i class="fa fa-star"></i></a></li>
								</ul>
							</div>
							<h4><a href="#">Impulse Duffle</a></h4>
							<div class="product-price">
								<ul>
									<li>$70.00</li>
									<li class="old-price">$74.00</li>
								</ul>
							</div>
						</div>
					</div>
					<div class="single-most-product">
						<div class="most-product-img">
							<a href="#"><img th:src="@{fe/img/product/22.jpg}" alt="book" /></a>
						</div>
						<div class="most-product-content">
							<div class="product-rating">
								<ul>
									<li><a href="#"><i class="fa fa-star"></i></a></li>
									<li><a href="#"><i class="fa fa-star"></i></a></li>
									<li><a href="#"><i class="fa fa-star"></i></a></li>
									<li><a href="#"><i class="fa fa-star"></i></a></li>
									<li><a href="#"><i class="fa fa-star"></i></a></li>
								</ul>
							</div>
							<h4><a href="#">Fusion Backpack</a></h4>
							<div class="product-price">
								<ul>
									<li>$59.00</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>