	<div class="social-group-area ptb-60" th:fragment="social">
		<div class="container">
			<div class="row">
				<div class="col-lg-6 col-md-6 col-12">
					<div class="section-title-3">
						<h3>TWEET MỚI NHẤT</h3>
					</div>
					<div class="twitter-content">
						<div class="twitter-icon">
							<a href="#"><i class="fa fa-twitter"></i></a>
						</div>
						<div class="twitter-text">
							<p>
								Claritas est etiam processus dynamicus, qui sequitur mutationem consuetudium lectorum. Mirum notare quam
							</p>
							<a href="#">koparion</a>
						</div>
					</div>
				</div>
				<div class="col-lg-6 col-md-6 col-12">
					<div class="section-title-3">
						<h3>GIỮ LIÊN LẠC</h3>
					</div>
					<div class="link-follow">
						<ul>
							<li><a href="#"><i class="fa fa-twitter"></i></a></li>
							<li><a href="#"><i class="fa fa-google-plus"></i></a></li>
							<li><a href="#"><i class="fa fa-facebook"></i></a></li>
							<li><a href="#"><i class="fa fa-youtube"></i></a></li>
							<li><a href="#"><i class="fa fa-flickr"></i></a></li>
							<li><a href="#"><i class="fa fa-vimeo"></i></a></li>
							<li><a href="#"><i class="fa fa-instagram"></i></a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>