<!doctype html>
<html class="no-js" lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="layout/head::head"></head>

<body class="home-4">

	<header th:replace="layout/header::header"></header>
	<div id="chieucao"></div>
	<!-- header-area-end -->
	<!-- slider-group-start -->

	<div class="breadcrumbs-area mb-70">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<div class="breadcrumbs-menu">
						<ul>
							<li><a href="#">Trang chủ</a></li>
							<li><a href="#" class="active">Chi tiết đơn hàng</a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- breadcrumbs-area-end -->
	<!-- entry-header-area-start -->
	<div class="entry-header-area">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<div class="entry-header-title">
						<h2>Chi tiết đơn hàng</h2>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- entry-header-area-end -->
	<!-- cart-main-area-start -->
	<div class="cart-main-area mb-70">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<form action="#">
						<div class="table-content table-responsive mb-15 border-1">
							<table>
								<thead>
									<tr>
										<th class="product-thumbnail">Ảnh</th>
										<th class="product-name">Sách</th>
										<th class="product-price">Giá</th>
										<th class="product-quantity">Số lượng</th>
										<th class="product-subtotal">Tổng</th>
										<th class="product-subtotal">Tùy chọn</th>
									</tr>
								</thead>
								<tbody>
									<tr th:each="detail : ${order.orderDetails}">
										<td class="product-thumbnail"><a href="#"><img
													th:src="@{'/uploads/'+${detail.book.image}}" alt="man" /></a></td>
										<td class="product-name"><a href="#" th:text="${detail.book.bookName}"></a></td>
										<td class="product-price"><span class="amount"
												th:text="${#numbers.formatDecimal(detail.book.priceSale, 0, 'POINT', 0, 'COMMA')+ ' đ'}"></span>
										</td>
										<td class="product-quantity" th:text="${detail.quantity}"></td>
										<td class="product-subtotal"
											th:text="${#numbers.formatDecimal(detail.price * detail.quantity, 0, 'POINT', 0, 'COMMA')+ ' đ'}">
										</td>
										<td class="product-add-to-cart" th:if="${detail.review.status == false && order.status==3}" >
											
											<a th:href="@{'/add-rating/'+ ${detail.id}}" class="add-to-rating">Đánh giá</a>
										</td>
										<td class="product-add-to-cart" th:if="${detail.review.status == true}" disabled="disabled" >
											
											<a class="add-to-rating">Đã đánh giá</a>
										</td>
									</tr>
								</tbody>
							</table>
						</div>
					</form>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-6 col-md-6 col-12">

				</div>
				<div class="col-lg-6 col-md-6 col-12">
					<div class="cart_totals">
						<h2>Tổng số hàng</h2>
						<table>
							<tbody>
								<tr class="cart-subtotal">
									<th>Tổng phụ</th>
									<td>
										<span class="amount"
											th:text="${#numbers.formatDecimal(order.sumMoney, 0, 'POINT', 0, 'COMMA')+ ' đ'}"></span>
									</td>
								</tr>
								<tr class="shipping">
									<th>giao hàng</th>
									<td>
										<ul id="shipping_method">

											<li>
												<input type="radio" checked="checked">
												<label> Miễn phí vận chuyển</label>
											</li>
										</ul>

									</td>
								</tr>
								<tr class="cart-subtotal">
									<th>Trạng thái</th>
									<td>
										<span class="amount" th:if="${order.status==0}">Chờ xác nhận</span>
										<span class="amount" th:if="${order.status==1}">Đã duyệt</span>
										<span class="amount" th:if="${order.status==2}">Đang giao</span>
										<span class="amount" th:if="${order.status==3}">Giao thành công</span>
										<span class="amount" th:if="${order.status==4}">Yêu cầu hủy</span>
										<span class="amount" th:if="${order.status==5}">Đã hủy</span>
									</td>
								</tr>
								<tr class="cart-subtotal">
									<th>Tình trạng</th>
									<td>
										<span class="amount" th:if="${order.statusPay}">Đã thanh toán</span>
										<span class="amount" th:if="${!order.statusPay}">Chưa thanh toán</span>
									</td>
								</tr>
								<tr class="cart-subtotal">
									<th>Phương thức thanh toán</th>
									<td>
										<span class="amount" th:text="${order.methodPay.payName}"></span>
									</td>
								</tr>
								<tr class="order-total">
									<th>Tổng cộng</th>
									<td>
										<strong>
											<span class="amount"
												th:text="${#numbers.formatDecimal(order.sumMoney, 0, 'POINT', 0, 'COMMA')+ ' đ'}"></span>
										</strong>
										<div class="wc-proceed-to-checkout ">
											<a th:if="${order.status==0 || order.status==1}"
												th:href="@{/cancel/{id}(id=${order.id})}"
												onclick="return confirm('Bạn có muốn hủy đơn hàng không?')">Hủy đơn
												hàng</a>
										</div>
									</td>
								</tr>

							</tbody>

						</table>

					</div>
				</div>
			</div>

		</div>
	</div>

	<footer th:replace="layout/footer::footer"></footer>
	<!-- all js here -->
	<!-- jquery latest version -->
	<div th:replace="layout/js::js"></div>
</body>


<!-- Mirrored from htmldemo.net/koparion/koparion/index-4.html by HTTrack Website Copier/3.x [XR&CO'2014], Wed, 09 Aug 2023 12:02:53 GMT -->

</html>